.features {
    grid-column: center-start / center-end;

    margin: 15rem 0; 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); // Para permitir reducir las columnas en pantallas pequeñas
    // No necesitamos especificar filas (se crearán automáticamente en el grid implícito)

    grid-gap: 6rem;
    align-items: start; // para que todos los textos empiecen en la misma posición vertical.
}

.feature {

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;

    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        grid-row: 1 / span 2; // Esto no funcionaría: 1/-1 ya que -1 sólo funciona en el grid explícito
        transform: translateY(-1rem); // Desplazamos ligeramente el icono para que sobresalga un poco.
    }

    &__text {
        font-size: 1.7rem;
    }
}